<div class='row'>

  <div class='span5 offset1 result_list'>
    <input type="button" id='spin_button' class="btn btn-large btn-primary spin-btn" value="Spin" onclick="spin();" />
    <br />
    <div id='spin_details'></div>

  </div>
  <div class='span6'>
    <canvas id="wheelcanvas" width="700" height="500"></canvas>
  </div>
</div>